@use "./../../styles/vars";

.app {
  font-family: vars.$global-font;
  font-weight: vars.$global-font-weight;
  background-color: vars.$light-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  .search {
    font-size: 1em;
    padding: 0.5em;
    width: 70%;
    margin: 2rem auto vars.$gutter;
  }
  .error-message {
    background-color: #ffebee;
    color: #c62828;
    padding: 1rem;
    margin: 1rem auto;
    width: 70%;
    border-radius: 4px;
    border: 1px solid #ef5350;
    text-align: center;
  }
}
