@use "src/styles/vars";

.copyright {
  text-align: center;
  padding: vars.$gutter * 2;
  background-color: vars.$dark-color;
  color: vars.$alt-color;
  .newsletter {
    margin-top: vars.$gutter;

    .input-newsletter {
      margin-left: vars.$gutter;
      padding: 6px;
    }

    button {
      background-color: vars.$primary-color;
      border: none;
      color: vars.$light-color;
      padding: 8px;
      border-radius: 3px;
    }
  }
}
